
        <div id="footer" data-animate="fadeInUp">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <h4>Información</h4>

                        <ul>
                            <li><a href="text.html">¿Quienes somos?</a>
                            </li>
                            <li><a href="contact.html">Contactanos</a>
                            </li>
                        </ul>

                        <hr>

                        <h4>Siguenos en en facebook</h4>
                        <!-- for tablets and pc's -->
                        <div class="hidden-xs hidden-sm">
                        <div id="fb-root"></div>
                        <div class="fb-page" data-href="https://www.facebook.com/TrichUni/?fref=ts" data-tabs="portada" data-width="600" data-height="150" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/TrichUni/?fref=ts" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/TrichUni/?fref=ts">Trich</a></blockquote></div>
                        </div>
                        <!-- for smartphones -->
                        <div class="hidden-md hidden-lg">
                        <div id="fb-root"></div>
                        <div class="fb-page" data-href="https://www.facebook.com/TrichUni/?fref=ts" data-tabs="portada" data-width="350" data-height="200" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/TrichUni/?fref=ts" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/TrichUni/?fref=ts">Trich</a></blockquote></div>
                        </div>

                        <hr class="hidden-md hidden-lg hidden-sm">

                        <p>© Transistor Chip. | 2016</p>

                    </div>
                    <!-- /.col-md-3 -->

                    <div class="col-md-6 col-sm-6 col-xs-12">

                        <h4>¿Donde encontrarnos?</h4>

                        <p><strong>Trich | Transistor Chip.</strong>
                            <br>Facultad de Ingenieria Mecanica y Electrica
                            <br>
                            <strong>Universidad Autonoma de Nuevo Leon</strong>
                        </p>

                        <div id="map"></div>

                    </div>
                    <!-- /.col-md-3 -->

                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->
        </div>
        <!-- /#footer -->

        <!-- *** FOOTER END ***