/** Your theme modifications here **/
body{
	background-color: #8e8e8e;
	color: #6eb752;
}
.navbar-default{
	background-color: #000;
	border-bottom-color: #6eb752;
}
#map {
        height: 200px;
        width: 100%;
}
.yamm .dropdown.yamm-fw .dropdown-menu.account{
	left: auto;
}
.algolia-autocomplete {
  width: 100%;
}
.algolia-autocomplete .aa-input, .algolia-autocomplete .aa-hint {
  width: 100%;
}
.algolia-autocomplete .aa-hint {
  color: #999;
}
.algolia-autocomplete .aa-dropdown-menu {
  width: 100%;
  background-color: #fff;
  border: 1px solid #999;
  border-top: none;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
  cursor: pointer;
  padding: 5px 4px;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
  background-color: #B2D7FF;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {
  font-weight: bold;
  font-style: normal;
}

.cart_button{
  border: 0px;
  padding: 0px;
  background-color: white;
}