<% layout('layout') -%>
<div id="all">
        <div id="content">
            <div class="container">

                <div class="col-md-3">
                    <!-- *** CUSTOMER MENU ***
 _________________________________________________________ -->
                    <div class="panel panel-default sidebar-menu">

                        <div class="panel-heading">
                            <h3 class="panel-title">Menú de Usuario</h3>
                        </div>

                        <div class="panel-body">

                            <ul class="nav nav-pills nav-stacked">
                                <li class="active">
                                    <a href="/profile"><i class="fa fa-user"></i> Mi Cuenta</a>
                                </li>
                                <li>
                                    <a href="/wishlist"><i class="fa fa-heart"></i> Mi Lista de Deseos</a>
                                </li>
                                <li>
                                    <a href="/orders"><i class="fa fa-list"></i> Mis Ordenes</a>
                                </li>
                                <% if (user.profile.admin == true) { %>
                                <li>
                                    <a href="/admin"><i class="fa fa-plus-square"></i> Agregar Productos</a>
                                </li>
                                <% } %>
                                <li>
                                    <a href="/logout"><i class="fa fa-sign-out"></i> Cerrar Sesion</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <!-- /.col-md-3 -->

                    <!-- *** CUSTOMER MENU END *** -->
                </div>

                <div class="col-md-9">
                    <div class="box">
                        <h1>Mi Cuenta</h1>
                        <p class="lead">Modifica tus datos personales.</p>
                        <h3>Detalles Personales</h3>

                        <form>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="firstname">Nombre</label>
                                        <input type="text" class="form-control" id="firstname" name="name" value="<%= user.profile.local.name%>">
                                    </div>
                                </div>
                            </div>
                            <!-- /.row -->

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="phone">Telefono</label>
                                        <input type="number" class="form-control" id="phone" name="phone" value="<%= user.profile.local.phone%>">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="email">Correo</label>
                                        <input type="email" class="form-control" id="email" name="email" value="<%= user.profile.local.email%>">
                                    </div>
                                </div>
                                <div class="col-sm-12 text-center">
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Guardar Cambios</button>

                                </div>
                            </div>
                        </form>

                        <hr>

                        <h3>Cambiar Contraseña</h3>

                        <form>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="password_old">Vieja Contraseña</label>
                                        <input type="password" class="form-control" name="password_old" id="password_old">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="password_1">New password</label>
                                        <input type="password" class="form-control" name="password_new" id="password_1">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="password_2">Retype new password</label>
                                        <input type="password" class="form-control" name="password_new2" id="password_2">
                                    </div>
                                </div>
                            </div>
                            <!-- /.row -->

                            <div class="col-sm-12 text-center">
                                <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Guardar Nueva Contraseña</button>
                            </div>
                        </form>
                        <hr>
                    </div>
                </div>

            </div>
            <!-- /.container -->
        </div>
</div>