<% layout('layout') -%>
<div id="all">

	<div id="content">
		<div class="container">
			<div class="col-md-12">


				<div class="box" id="contact">
					<h1>Contacto</h1>

					<p class="lead">Estamos disponibles para solucionar cualquier duda que tengas, nos encontramos 24/7. </p>
					<p>Te invitamos a que nos sigas en nuestras redes sociales, o llamanos y solucionaremos tus dudas.</p>

					<hr>

					<div class="row">
						<div class="col-md-4">
							<h3><i class="fa fa-map-marker"></i> Direcci칩n</h3>
							<p><strong>Facultad de Ingenieria Mecanica y Electrica</strong>
                            <br>Universidad Aut칩noma de Nuevo Le칩n, 
                            <br>Avenida Universidad s/n, Ciudad Universitaria, 
                            <br>66455 Monterrey, NL
                        </p>
						</div>
						<!-- /.col-sm-4 -->
						<div class="col-md-4">
							<h3><i class="fa fa-phone"></i> Telefonos</h3>
							<p class="text-muted">Puedes localizarnos a estos numeros a cualquier hora.</p>
							<p><strong>+52 8441138631</strong>: Marcelo Monta침ez</p>
							<p><strong>+52 8120942698</strong>: Asaf Osuna</p>
							<p><strong>+52 8110083189</strong>: Manuel Gonzalez</p>
						</div>
						<!-- /.col-sm-4 -->
						<div class="col-md-4">
							<h3><i class="fa fa-share-square-o"></i> Redes Sociales</h3>
							<p class="text-muted">Te invitamos a que nos sigas en Facebook, ahi te daremos la informacion del momento.</p>
							<ul>
								<li><strong><a href="facebook.com/TrichUni">Trich</a></strong> - Transistor Chip</li>
							</ul>
						</div>
						<!-- /.col-sm-4 -->
					</div>
					<!-- /.row -->
					<hr>
					<div id="map"></div>
					<hr>
				</div>
			</div>
			<!-- /.col-md-9 -->
		</div>
		<!-- /.container -->
	</div>
</div>